body {
  background: #fff;
  color: #fff; }

.navbar {
  border-bottom: #008ed6;
  opacity: 0.7; }

#home-section {
  background: url("../img/tst.jpg");
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(192, 73, 69, 0.22);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 75px; }
  #home-section .card-form {
    opacity: 0.77; }
  #home-section .fa {
    color: #008ed6;
    background: #04e904;
    padding: 4px;
    border-radius: 15px;
    font-size: 32px; }

#explore-section .fa {
  color: #0bdb15;
  background: #2a8fa8;
  padding: 4px;
  border-radius: 20px;
  font-size: 32px; }

#create-section .fa {
  color: #008ed6;
  background: #e90463;
  padding: 4px;
  border-radius: 15px;
  font-size: 32px; }

#share-section .fa {
  color: #008ed6;
  background: #04e9c3;
  padding: 4px;
  border-radius: 15px;
  font-size: 32px; }
